base_sf_6.localhost www.base_sf_6.localhost {
    # Set this path to your site's directory:
    root * /var/www/html/public/

    # Enable Gzip compression:
    encode gzip

    # Serve PHP files through php-fpm:
    php_fastcgi unix//run/php/php7.4-fpm.sock

    # Enable the static file server:
    file_server

    # Enable HTTP request logging
    log {
        output file /var/log/caddy/access.log
    }
}
